Source: email2trac
Section: misc
Priority: optional
Maintainer: Bas van der Vlies <bas@sara.nl>
Build-Depends: debhelper (>> 4.0.0), cdbs, chrpath, python
Standards-Version: 3.2.1

Package: email2trac
Section: misc
Architecture: i386
Depends: ${slibs:Depends}, python, cdbs, trac
Description: Converts email to a trac ticket
	Name says it All
